@import url(fonts.css);

body{
    margin: 0;padding: 0;
}

.container{
    width: 100%;
    margin: 0 auto;
    padding: 0;
    max-width: 100%;
    font-family: 'Yu Gothic';
    background-color: #F5F3F2;
}

button{
    cursor: pointer;
}