/* header  */
.container {
    background-color: #F5F3F2;
}

.page-header {
    position: relative;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 730px;
    background-image: url(https://images.pexels.com/photos/14441176/pexels-photo-14441176.jpeg?auto=compress&cs=tinysrgb&w=1600);
    margin-bottom: 140px;
}

.header-permanent {
    position: absolute;
    right: 0;
    top: 20px;
    height: 56px;
    line-height: 56px;
    z-index: 10;
}

.menu-primary {}

.header-menus {
    position: relative;
    right: 0;
    display: flex;
    gap: 20px;
    background-color: #F5F3F2;
    font-size: 14px;
    letter-spacing: 1.4px;
    border-radius: 50px 0 0 50px;
    color: #788CFA;
    opacity: 1;
}

.btn-header {
    border: none;
    background-color: #F5F3F2;
    color: #788CFA;
    font-weight: 700;
}

.menu-item:nth-child(1) {
    padding-left: 20px;
}

.menu-item {}

.menu-primary {
    background-color: #3232FF;
    position: relative;
    color: #F5F3F2;
    right: 0;
    border-radius: 50px 0 0 50px;
    padding: 0 20px;
}

.header-img {
    position: absolute;
    top: 200px;
    right: 40px;
}

.header-img img {
    width: 408px;
    height: 300px;
}

.header-bottom {
    position: absolute;
    bottom: 2px;
    display: flex;
    width: 100%;
    margin: 0 75px;
    gap: 16px;
    letter-spacing: 0.32px;
    align-items: center;
}

.menu-bottom-item {
    text-align: center;
    width: 108px;
    height: 108px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #FFFFFF;
    box-shadow: #788cfa99 0px 2px 2px 0px;
    color: #788CFA;
    font-weight: 700;
}


/* //========================= */
.main-content {}

.description-text {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 60px;
}

.introduce-item {
    padding: 40px 30px;
    background-image: url(https://images.pexels.com/photos/957040/night-photograph-starry-sky-night-sky-star-957040.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    text-align: center;
    color: white;
    border-radius: 20px;
    font-size: 20px;
    letter-spacing: 1.6px;
}

.support {
    background-color: #EAE5E3;
    padding-bottom: 60px;
}

.support-title {
    text-align: center;
    color: #788CFA;
    letter-spacing: 1.12px;
    margin-bottom: 80px;
    padding-top: 60px;
}

.list-support-item .fa-circle-check {
    font-size: 20px;
    color: #788CFA;
    margin-right: 5px;
    position: absolute;
    left: 0;
    top: 3px;
}

.list-support-item {
    padding-left: 25px;
    position: relative;
    margin-bottom: 20px;
    width: 100%;
    max-width: 216px;
    font-weight: 500 !important;
    letter-spacing: 1.28px;
}

.list-support-label {
    background-color: #FAD2D2;
}

.btn {
    text-align: center;
}

.btn-register {
    position: relative;
    padding: 20px;
    width: 100%;
    max-width: 400px;
    border: none;
    background: transparent linear-gradient(180deg, var(--unnamed-color-788cfa) 0%, var(--academy｜-3232ff) 100%) 0% 0% no-repeat padding-box;
    box-shadow: 2px 2px 6px var(--unnamed-color-788cfa99);
    background: transparent linear-gradient(180deg, #788CFA 0%, #3232FF 100%) 0% 0% no-repeat padding-box;
    box-shadow: 2px 2px 6px #788CFA99;
    border-radius: 30px;
    opacity: 1;
    color: white;
    font-size: 20px;
    letter-spacing: 0.4;
    border-radius: 50px;
}

.btn-register i {
    position: absolute;
    right: 20px;
    top: 27px;
}

/* //remove */

.remove-negative-label {
    margin-bottom: 20px;
}

.lable-item {
    padding: 10px;
    width: 100%;
    max-width: 240px;
    text-align: center;
    font-size: 16px;
    border-radius: 30px;
    letter-spacing: 1.6px;
    color: white;
}

.lable-item:nth-child(2) {
    background: #BEB1AA;
}

.lable-item:nth-child(3) {
    background: #788CFA;
}

/* 
.remove-negative-table .item:nth-child(1) .box-item {
    width: 100%;
    padding: 30px;
    background: #323232;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

.remove-negative-table .item:nth-child(2) .box-item,
.remove-negative-table .item:nth-child(3) .box-item {
    width: 100%;
    padding: 15px;
    background: #323232;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    color: white;
    margin-bottom: 20px;
} */

.slider-container {
    display: flex;
    gap: 40px;
    overflow: auto;
    width: 100%;
    margin-top: 20px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.slider-content {
    display: flex;
    width: 100%;
    border-radius: 20px;
    background: #EAE5E3;
    padding: 0 20px 20px 0;
    min-width: 760px;
}

.slider .avt img {
    border-radius: 20px 0 20px 0;
}

.name {
    font-size: 20px;
    margin: 20px;
    letter-spacing: 1.6px;
    font-weight: 700;
}

.evaluate {
    font-size: 16px;
    margin: 20px;
    color: #788CFA;
    text-decoration: underline 2px;
    letter-spacing: 1.28px;
}

.information {
    font-weight: 500 !important;
    margin: 20px;
    letter-spacing: 1.28px;
    line-height: 2.5;
    color: #323232;
}


.board-container {
    padding: 10px;
    border: 3px dashed #788CFA;
    border-radius: 20px;
    display: flex;
    gap: 20px;
}

.board {
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
}

.board-bottom {
    border: 5px solid #788CFA;
    border-radius: 20px;
    margin-top: 40px;
    text-align: center;
    padding: 20px;
    background-color: white;
}

.board-title {
    text-align: center;
    margin-bottom: 10px;
    color: #788CFA;
}

.board-bottom-title {
    font-size: 25px;
    font-weight: 900;
    color: #788CFA;
}

.board-bottom-lable {
    font-size: 20px;
    color: #788CFA;
    margin: 6px 0 20px 0;
}

.board-bottom-description {
    font-size: 16px;
    color: #323232;
}


.skills {
    background-color: #fff;
    padding: 60px 0;
    position: relative;
}

.skills .number {
    position: absolute;
    top: -20px;
    left: 50%;
}

.mt {
    margin-top: 160px !important;
}

.list-skill {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.skill {
    color: #323232;
    padding: 47px 5px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 110px;
    height: 110px;
    font-size: 16px;
    border-radius: 50%;
    background-color: #EAE5E3;
    width: 100%;
    height: 100%;
    max-height: 110px;
    max-width: 110px;
}

.listen {
    background-color: #fff;
    margin-top: 38px;
    padding: 40px;
}

.listen .number {
    margin-bottom: 40px;
}

.circle {
    background-color: #788CFA9A;
    width: 180px;
    height: 180px;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.circle-name {
    color: #fff;
}

.circle-content {
    text-align: center;
}

.equation {
    display: flex;
    justify-content: space-between;
}

.result {
    background: #000;
    color: #fff;
    border: none;
    border-radius: 50%;
    height: 180px;
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 16px;
    letter-spacing: 0.32px;
}



.card .price {
    color: white;
    font-size: 20px;
    letter-spacing: 0.4px;
    margin-bottom: 20px;
    text-align: center;
}

.card-body {
    width: 100%;
    border: none;
    border-radius: 20px 20px 0 0;
    padding: 20px;
    min-height: 275px;
    max-width: 200px;
    position: relative;
}

.card:nth-child(1) .card-body {
    background-color: #788CFA !important;
}

.card:nth-child(2) .card-body {
    background-color: #323232 !important;
}

.card:nth-child(3) .card-body {
    background-color: #BEB1AA !important;
}

.card:nth-child(2) .price {
    color: #788CFA;
}

.card:nth-child(2) .describe {
    color: #fff;
}

.btn-card {
    position: absolute;
    width: calc(100% - 40px);
    bottom: 20px;
    padding: 8px 0;
    border-radius: 20px;
    border: none;
    color: #BEB1AA;
    font-weight: 700;

}

.card-view-detail {
    background-color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border: none;
    border-radius: 0 0 20px 20px;
    margin-bottom: 20px;
}

.card-view-detail button {
    border: none;
    background-color: #fff;
    font-size: 16px;
    color: #BEB1AA;
    font-weight: 700;
}

.card-view-detail i {
    font-size: 25px;
}

.card-describe {
    color: #BEB1AA;
    font-size: 16px;
    letter-spacing: 0.32px;
    font-weight: 700;
}

.teacher-info {
    background-image: url(https://cdn.pixabay.com/photo/2022/09/03/10/52/northern-gannets-7429282_960_720.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    color: #F5F3F2;
}

/* .teacher-flex{
    display: flex;
} */

.teacher-descrice {
    width: 100%;
    min-width: 460px;
    margin: 82px 0 0 20px;
}

.teacher-descrice p {
    font-size: 16px;
    letter-spacing: 1.28px;
    margin-bottom: 40px;
}

.teacher .avt {
    margin-top: 250px;
}

.teacher-info .avt img {
    width: 120px;
    height: 120px;
    overflow: hidden;
    object-fit: cover;
    margin-bottom: 20px;

}

.teacher-name {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1.6px;
    margin-bottom: 20px;
}

.info-teacher {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.32px;
    margin-bottom: 20px;

}

.general-introduction {
    color: #fff;
    font-size: 14px;
    font-weight: 500 !important;
    letter-spacing: 0.32px;
    text-align: justify;
}


.additional {
    margin-top: 42px !important;
    color: #BEB1AA;
    font-size: 16px;
}

.consultation {
    background-color: #fff;
    padding: 60px 0 40px 0;
}

.title-consultation {
    font-size: 28px !important;
    color: #788CFA;
    text-align: center;
    margin-bottom: 40px;
    letter-spacing: 1.12px;
    font-weight: 700;
}

.descrice-consultation {
    margin-bottom: 60px;
    letter-spacing: 1.6px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}

.consultation .item-title {
    font-size: 18px;
    letter-spacing: 1.44px;
    color: #323232;
}

.list-item .li {
    margin: 20px 0;
}

.question,
.answer {
    gap: 20px;
    display: flex
}

.user i {
    font-size: 40px;
}

.question {
    margin-bottom: 30px;
    font-size: 20px;
    color: #788CFA;
}

.answer {
    margin-bottom: 50px;
}

.answer .user i {
    color: #BEB1AA;
}

.answer-text {
    padding: 20px;
    width: 100%;
    background: #EAE5E3;
    border: none;
    border-radius: 20px;
}

.answer-text-son {
    width: 100%;
    max-width: 540px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.change-answer-text .answer-text-son {
    width: 100%;
    max-width: 740px;
    font-size: 16px;
    font-weight: 500;
    white-space: normal;
}


.change-answer-text .see-hide button {
    display: block;
}

.see-hide button{
    display: none;
}

.change-answer-text .see-next{
    display: none;
}

.see-next,
.see-hide {
    display: flex;
    justify-content: end;
}

.see-next button,
.see-hide button {
    border: none;
    color: #BEB1AA;
    background: none;
    font-size: 16px;
    font-weight: 700;
}

.see-hide button i,
.see-next button i {
    font-size: 16px;
}

.gototop {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px !important;
    padding-bottom: 160px !important;
}

.gototop button {
    color: #788CFA;
    font-weight: 700;
    font-size: 16px;
    padding: 45px;
    border: none;
    border-radius: 50%;
    background: #fff 0% 0% no-repeat padding-box;
    box-shadow: 2px 2px 6px var(--unnamed-color-788cfa99);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 2px 2px 6px #788CFA99;
    opacity: 1;
}

/* // class public  */
.title-son {
    color: #788CFA;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.description-lable {
    background-color: #788CFA9A;
}

.number {
    text-align: center;
    letter-spacing: 1.12px;
    font-size: 28px;
    color: #BEB1AA;
}

.flex-item {
    display: flex;
    gap: 60px;
    justify-content: space-between;
}

.item-name {
    font-size: 20px;
    letter-spacing: 1.6px;
    text-align: center;
    border-top: 2px solid #FFFFFF;
    border-bottom: 2px solid #FFFFFF;
    padding: 20px;
    margin-bottom: 60px;
}

.font-h1 {
    font-size: 28px;
}

.title {
    color: #BEB1AA;
    font-size: 16px;
    position: relative;
    letter-spacing: 1.12px;
}

.new-box {
    margin-top: 160px;
    margin-bottom: 60px;
}

.title::before {
    content: "";
    height: 2px;
    width: 72px;
    background-color: #BEB1AA;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    left: -80px;
}

.description {
    letter-spacing: 1.12px;
}

.span-decoration {
    text-decoration: underline #788CFA double;
}

.alignment {
    margin: 0 80px;
}

.letter-spacing {}

/* //// */
/* .menu-item:not(.menu-item:last-child) {
    display: block;
}

.menu-item:not(.menu-item:last-child) {
    opacity: 0;
    z-index: -1;
    background-color: none;
    animation: Showheader 1s infinite ease forwards;
} */

/* .header-menus.sticky{ */
.header-menus {
    animation: Showheader 1s 1 ease forwards;
    z-index: -1;
    opacity: 0;

}

.sticky .menu-item:not(.menu-primary) {
    display: none !important;
}

.slider-container::-webkit-scrollbar {
    display: none;
}

@keyframes Showheader {
    form {
        right: 100%;
        opacity: 0;
    }

    to {
        right: 0;
        opacity: 1;
    }
}