html {
    scroll-behavior: smooth;
}

.container {
    background-color: #F5F3F2;

}

.description-text {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 60px;
}

.introduce-item {
    padding: 40px 30px;
    background-image: url(https://images.pexels.com/photos/957040/night-photograph-starry-sky-night-sky-star-957040.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    text-align: center;
    color: white;
    border-radius: 20px;
    font-size: 20px;
    letter-spacing: 1.6px;
}


.support {
    background-color: #EAE5E3;
    padding-bottom: 60px;
}

.support-title {
    text-align: center;
    color: #788CFA;
    letter-spacing: 1.12px;
    margin-bottom: 80px;
    padding-top: 60px;
}

.list-support-item .fa-circle-check {
    font-size: 20px;
    color: #788CFA;
    margin-right: 5px;
    position: absolute;
    left: 0;
    top: 3px;
}

.note {
    color: #323232;
    margin-top: 20px;
    letter-spacing: 0.28px;
    font-size: 14px;
    font-weight: 500;
    width: 100%;
}

.list-support-item {
    padding-left: 25px;
    position: relative;
    margin-bottom: 20px;
    width: 100%;
    font-weight: 500 !important;
    letter-spacing: 1.28px;
    text-align: justify;
    max-width: inherit;
    width: inherit;
}



.list-support-label {
    background-color: #FAD2D2;
}

.btn {
    text-align: center;
}

.btn-register {
    position: relative;
    padding: 20px;
    width: 100%;
    max-width: 400px;
    border: none;
    background: transparent linear-gradient(180deg, var(--unnamed-color-788cfa) 0%, var(--academy｜-3232ff) 100%) 0% 0% no-repeat padding-box;
    box-shadow: 2px 2px 6px var(--unnamed-color-788cfa99);
    background: transparent linear-gradient(180deg, #788CFA 0%, #3232FF 100%) 0% 0% no-repeat padding-box;
    box-shadow: 2px 2px 6px #788CFA99;
    border-radius: 30px;
    opacity: 1;
    color: white;
    font-size: 20px;
    letter-spacing: 0.4;
    border-radius: 50px;
}

.btn-register i {
    position: absolute;
    right: 20px;
    top: 27px;
}

/* //remove */
.remove-negative {
    margin: 0 80px;
}

.remove-negative-label {
    margin-bottom: 20px;
}

.lable-item {
    width: 240px;
    height: 36px;
    font-size: 16px;
    border-radius: 30px;
    letter-spacing: 1.6px;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lable-item:nth-child(2) {
    background: #BEB1AA;
}

.lable-item:nth-child(3) {
    background: #788CFA;
}

.box-item {
    border-radius: 20px;
    text-align: center;
    color: white;
    margin-bottom: 20px;
    display: flex;
}

.box-item .icon {
    width: 60px;
    position: relative;
}


.remove-negative-table .item:nth-child(1) .box-item {
    width: 240px;
    height: 80px;
    background: #323232;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 700;
}



.remove-negative-table .item:nth-child(2) .box-item,
.remove-negative-table .item:nth-child(3) .box-item {
    background-color: #fff;
    width: 240px;
    height: 80px;
    align-items: center;
    justify-content: center;
    color: #323232;
    text-align: left;
    font-size: 16px;
    position: relative;
}

.remove-negative-table .item:nth-child(2) .box-item {
    font-weight: 500;
}

.remove-negative-table .item:nth-child(3) .box-item {
    font-weight: 700;
}




.remove-negative-table .item:nth-child(2) .box-item::after,
.remove-negative-table .item:nth-child(3) .box-item::after {
    content: "";
    width: 60px;
    height: 2px;
    position: absolute;
    top: 50%;
    left: -60px;
    transform: translateY(-50%);
}

.remove-negative-table .item:nth-child(2) .box-item::after {
    background-color: #BEB1AA;
}

.remove-negative-table .item:nth-child(3) .box-item::after {
    background-color: #788CFA99;
}


/* // hình tròn */

.remove-negative-table .item:nth-child(3) .box-item .icon::before {
    content: '';
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 5px solid #788CFA;
    position: absolute;
    top: -20px;
    left: -20px;
}


.remove-negative-table .item:nth-child(3) .box-item:nth-child(2) .icon::after {
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 5px solid #788CFA;
    position: absolute;
    top: -10px;
    left: -10px;
}


/* // dấu X */
.remove-negative-table .item:nth-child(2) .box-item .icon::before,
.remove-negative-table .item:nth-child(2) .box-item .icon::after {
    position: absolute;
    content: '';
    background-color: #BEB1AA;
}

.remove-negative-table .item:nth-child(2) .box-item:nth-child(1) .icon::before {
    width: 5px;
    height: 50px;
    transform: rotate(45deg);
    top: -25px;
    left: 0px;
}

.remove-negative-table .item:nth-child(2) .box-item:nth-child(1) .icon::after {
    width: 5px;
    height: 50px;
    transform: rotate(-45deg);
    top: -25px;
    left: 0px;
}

/* // hình tam giác */
.remove-negative-table .item:nth-child(2) .box-item:nth-child(2) .icon::before,
.remove-negative-table .item:nth-child(2) .box-item:nth-child(3) .icon::before {
    background: transparent;
    border-bottom: 40px solid #BEB1AA;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    top: -20px;
    left: -30px;
}

.remove-negative-table .item:nth-child(2) .box-item:nth-child(2) .icon::after,
.remove-negative-table .item:nth-child(2) .box-item:nth-child(3) .icon::after {
    background: transparent;
    border-bottom: 20px solid #fff;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    top: -7px;
    left: -15px;
}

/* /// slider ==== */
.slider-container::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.slider-container {
    display: flex;
    gap: 40px;
    overflow: auto;
    width: 100%;
    margin-top: 20px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.slider-content {
    display: flex;
    width: 100%;
    border-radius: 20px;
    background: #EAE5E3;
    padding: 0 20px 20px 0;
    min-width: 760px;
}

.slider .avt img {
    border-radius: 20px 0 20px 0;
}

.name {
    font-size: 20px;
    margin: 20px;
    letter-spacing: 1.6px;
    font-weight: 700;
}

.evaluate {
    font-size: 16px;
    margin: 20px;
    color: #788CFA;
    text-decoration: underline 2px;
    letter-spacing: 1.28px;
}

.information {
    font-weight: 500 !important;
    margin: 20px;
    letter-spacing: 1.28px;
    line-height: 2.5;
    color: #323232;
}


/* /// board  */

.board-container {
    padding: 10px;
    border: 3px dashed #788CFA;
    border-radius: 20px;
    display: flex;
    gap: 20px;
}

.board {
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    line-height: 40px;

}

.board-bottom {
    border: 5px solid #788CFA;
    border-radius: 20px;
    margin-top: 40px;
    text-align: center;
    padding: 20px;
    background-color: white;
}

.arrow-board {
    position: relative;
    background: #788CFA;
    width: 8px;
    height: 40px;
}

.arrow-board:nth-child(1) {
    left: calc(50% - 10px);
    top: -65px;
}

.arrow-board:nth-child(2) {
    left: calc(50% + 10px);
    top: -105px;
}

.arrow-board:nth-child(1)::before {
    content: "";
    background-color: #788CFA;
    position: absolute;
    width: 7px;
    height: 20px;
    transform: rotate(45deg);
    left: -7px;
    ;
}

.arrow-board:nth-child(2)::after {
    content: "";
    background-color: #788CFA;
    position: absolute;
    width: 7px;
    height: 20px;
    transform: rotate(45deg);
    left: 8px;
    top: 24px;
}


/* .arrow-board::after,
.arrow-board::before{
    content: "";
    background-color: #788CFA;
    position: absolute;
    width: 10px;
    height: 40px;
}

.arrow-board::before{
    top: -50px;
    left: calc(50% + 10px);
}

.arrow-board::after{
    top: -50px;
    left: calc(50% - 10px);
} */


.board-title {
    text-align: center;
    margin-bottom: 10px;
    color: #788CFA;
}

.board-bottom-title {
    font-size: 25px;
    font-weight: 900;
    color: #788CFA;
}

.board-bottom-lable {
    font-size: 20px;
    color: #788CFA;
    margin: 6px 0 20px 0;
}

.board-bottom-description {
    font-size: 16px;
    color: #323232;
}

.board-img {
    margin-top: 20px;
    text-align: center;
}

.board-img img {
    margin: 5px;
    width: 171px;
    height: 84px;
    overflow: hidden;
    object-fit: cover;
}








.skills {
    background-color: #fff;
    padding: 60px 0;
    position: relative;
}

.skills .number {
    position: absolute;
    top: -20px;
    left: 50%;
}

.mt {
    margin-top: 160px !important;
}

.list-skill {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.skill {
    color: #323232;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 110px;
    height: 110px;
    font-size: 16px;
    border-radius: 50%;
    background-color: #EAE5E3;
}

.listen {
    background-color: #fff;
    margin-top: 38px;
    padding: 40px;
}

.listen .number {
    margin-bottom: 40px;
}

.circles {
    position: relative;
    width: 320px;
}

.circles .circle:nth-child(1) {
    bottom: 0;
    right: 0;
}

.circles .circle:nth-child(2) {
    left: 60px;
    bottom: -135px;
}

.circles .circle:nth-child(3) {
    right: -75px;
    bottom: -135px;
}



.circles .circle {
    position: absolute;
}

.circle {
    background-color: #788CFA9A;
    width: 180px;
    height: 180px;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    mix-blend-mode: multiply;

}

.circle-name {
    color: #fff;
}

.circle-content {
    text-align: center;
}

.equation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    min-height: 500px;
    margin: 0 80px;
}

.result {
    background: #000;
    color: #fff;
    border: none;
    border-radius: 50%;
    height: 180px;
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 16px;
    letter-spacing: 0.32px;
}

.node-result {
    text-align: center;
}

.result-name {
    color: #788CFA;
}







.card {
    position: relative;
}

.card-title {
    color: #788CFA;
    margin-bottom: 20px;
}

.card-body {
    z-index: 5;
}

.card-view-detail {
    z-index: 1;
}

.show.card-detail {
    animation: showCardDetail 0.5s linear  forwards;
}

.card-detail {
    padding: 20px;
    background-color: #fff;
    width: 100%;
    max-width: 200px;
    top: -700px;
    z-index: 0;
}

@keyframes showCardDetail {
    from {
        visibility: hidden;
        transform: translateY(-350px);
      }
      to { 
        visibility: visible;
        transform: translateY(0px);
      }
}


.card .price {
    color: white;
    font-size: 20px;
    letter-spacing: 0.4px;
    margin-bottom: 20px;
    text-align: center;
    min-height: 100px;
}

.card {
    width: 100%;
}

.card-body {
    width: 100%;
    border: none;
    border-radius: 20px 20px 0 0;
    padding: 20px;
    min-height: 275px;
    max-width: 200px;
    position: relative;
}

.card:nth-child(1) .card-body {
    background-color: #788CFA !important;
}

.card:nth-child(2) .card-body {
    background-color: #323232 !important;
}

.card:nth-child(3) .card-body {
    background-color: #BEB1AA !important;
}

.card:nth-child(2) .price {
    color: #788CFA;
}

.card:nth-child(2) .describe {
    color: #fff;
}

.btn-card {
    position: absolute;
    width: calc(100% - 40px);
    bottom: 20px;
    padding: 8px 0;
    border-radius: 20px;
    border: none;
    color: #BEB1AA;
    font-weight: 700;

}

.card-view-detail {
    background-color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border: none;
    border-radius: 0 0 20px 20px;
    margin-bottom: 20px;
    max-width: 200px;
    width: 100%;
}

.card-view-detail button {
    border: none;
    background-color: #fff;
    font-size: 16px;
    color: #BEB1AA;
    font-weight: 700;
}

.card-view-detail i {
    font-size: 25px;
}

.card-describe {
    color: #BEB1AA;
    font-size: 16px;
    letter-spacing: 0.32px;
    font-weight: 700;
}

.teacher-info {
    background-image: url(https://cdn.pixabay.com/photo/2022/09/03/10/52/northern-gannets-7429282_960_720.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    color: #F5F3F2;
}

.teacher-descrice {
    width: 100%;
    min-width: 460px;
    margin: 82px 0 0 20px;
}

.teacher-descrice p {
    font-size: 16px;
    letter-spacing: 1.28px;
    margin-bottom: 40px;
}

.teacher .avt {
    margin-top: 290px;
}

.teacher-info .avt img {
    width: 120px;
    height: 120px;
    overflow: hidden;
    object-fit: cover;
    margin-bottom: 20px;

}

.teacher-name {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1.6px;
    margin-bottom: 20px;
}

.info-teacher {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.32px;
    margin-bottom: 20px;

}

.general-introduction {
    color: #fff;
    font-size: 14px;
    font-weight: 500 !important;
    letter-spacing: 0.32px;
    text-align: justify;
}


.additional {
    margin-top: 42px !important;
    color: #BEB1AA;
    font-size: 16px;
}

.consultation {
    background-color: #fff;
    padding: 60px 0 40px 0;
}

.title-consultation {
    font-size: 28px !important;
    color: #788CFA;
    text-align: center;
    margin-bottom: 40px;
    letter-spacing: 1.12px;
    font-weight: 700;
}

.descrice-consultation {
    margin-bottom: 60px;
    letter-spacing: 1.6px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}

.consultation .item-title {
    font-size: 18px;
    letter-spacing: 1.44px;
    color: #323232;
}

.list-item .li {
    margin: 20px 0;
}

.question,
.answer {
    gap: 20px;
    display: flex
}

.user i {
    font-size: 40px;
}

.question {
    margin-bottom: 30px;
    font-size: 20px;
    color: #788CFA;
}

.answer {
    margin-bottom: 50px;
}

.answer .user i {
    color: #BEB1AA;
}

.answer-text {
    padding: 20px;
    width: 100%;
    background: #EAE5E3;
    border: none;
    border-radius: 20px;
}

.answer-text-son {
    width: 100%;
    max-width: 900px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.change-answer-text .answer-text-son {
    width: 100%;
    max-width: 900px;
    font-size: 16px;
    font-weight: 500;
    white-space: normal;
}


.change-answer-text .see-hide button {
    display: block;
}

.see-hide button {
    display: none;
}

.change-answer-text .see-next {
    display: none;
}

.see-next,
.see-hide {
    display: flex;
    justify-content: end;
}

.see-next button,
.see-hide button {
    border: none;
    color: #BEB1AA;
    background: none;
    font-size: 16px;
    font-weight: 700;
}

.see-hide button i,
.see-next button i {
    font-size: 16px;
}

.gototop {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px !important;
    padding-bottom: 160px !important;
}

.gototop button {
    color: #788CFA;
    font-weight: 700;
    font-size: 16px;
    padding: 45px;
    border: none;
    border-radius: 50%;
    background: #fff 0% 0% no-repeat padding-box;
    box-shadow: 2px 2px 6px var(--unnamed-color-788cfa99);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 2px 2px 6px #788CFA99;
    opacity: 1;
}

.title-son {
    color: #788CFA;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.description-lable {
    background-color: #788CFA9A;
}

.number {
    text-align: center;
    letter-spacing: 1.12px;
    font-size: 28px;
    color: #BEB1AA;
}

.flex-item {
    display: flex;
    gap: 60px;
    justify-content: space-between;
}

.item-name {
    font-size: 20px;
    letter-spacing: 1.6px;
    text-align: center;
    border-top: 2px solid #FFFFFF;
    border-bottom: 2px solid #FFFFFF;
    padding: 20px;
    margin-bottom: 60px;
}

.font-h1 {
    font-size: 28px;
}

.title {
    color: #BEB1AA;
    font-size: 16px;
    position: relative;
    letter-spacing: 1.12px;
    margin-left: 80px;
}

.new-box {
    margin-top: 160px;
    margin-bottom: 60px;
}

.title::before {
    content: "";
    height: 2px;
    width: 72px;
    background-color: #BEB1AA;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    left: -80px;
}

.description {
    letter-spacing: 1.12px;
}

.span-decoration {
    text-decoration: underline #788CFA double;
}

.alignment {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}


.plus {
    width: 40px;
    height: 40px;
    position: relative;
}

.plus::after {
    content: " ";
    position: absolute;
    display: block;
    background-color: #BEB1AA;
    height: 15px;
    margin-top: -5px;
    top: 50%;
    left: -15px;
    right: -15px;
}

.plus::before {
    content: " ";
    position: absolute;
    display: block;
    background-color: #BEB1AA;
    width: 15px;
    margin-left: -10px;
    left: 55%;
    top: -15px;
    bottom: -15px;
}





.page-header {
    position: relative;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 730px;
    background-image: url(https://images.pexels.com/photos/14441176/pexels-photo-14441176.jpeg?auto=compress&cs=tinysrgb&w=1600);
    margin-bottom: 140px;
}

.btn-header {
    border: none;
    background-color: #F5F3F2;
    color: #788CFA;
    font-weight: 700;
}

.menu-item:nth-child(1) {
    padding-left: 20px;
}

.menu-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-item a {
    text-decoration: none;
    background-color: #F5F3F2;
    color: #3232FF;
    font-size: 14px;
    letter-spacing: 1.4px;
    font-weight: 700;
    border-left: 1px solid #788CFA;
    padding: 0 10px;
}

.top {
    border: none !important;
}

.menu-primary {
    background-color: #3232FF;
    position: relative;
    color: #F5F3F2;
    border-radius: 50px 0 0 50px;
    padding: 20px;
    min-width: 200px;
}

.header-img {
    position: absolute;
    top: 200px;
    right: 40px;
}

.header-img img {
    width: 408px;
    height: 300px;
}

.header-bottom {
    width: 100%;
    max-width: 1000px;
    position: absolute;
    bottom: 2px;
    display: flex;
    margin: 0 calc((100% - 1000px) / 2);
    gap: 16px;
    letter-spacing: 0.32px;
    align-items: center;
    justify-content: space-between;
}

.menu-bottom-item a {
    text-decoration: none;
    text-align: center;
    width: 108px;
    height: 108px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #FFFFFF;
    box-shadow: #788cfa99 0px 2px 2px 0px;
    color: #788CFA;
    font-weight: 700;
}


.header-menus {
    position: fixed;
    display: flex;
    z-index: 10;
    right: 0;
    margin-top: 20px;
}

.header-menu-left {
    display: flex;
    background-color: #F5F3F2;
    font-size: 14px;
    letter-spacing: 1.4px;
    border-radius: 50px 0 0 50px;
    color: #788CFA;
    opacity: 1;
    right: -100%;
    position: relative;
    animation: Showheader 1s 1 ease forwards;
}

.header-menu-right {
    background-color: #F5F3F2;
}

.isTop .header-menu-left {
    display: none;
}

.isTop .header-menu-right {
    background-color: transparent;
}

@keyframes Showheader {
    form {
        right: -100%;
    }

    to {
        right: 0%;

    }
}

.d-none {
    display: none;
}